/*


Based on the Kuler theme "sandy stone beach ocean diver" and the colours:
 - #E6E2AF
 - #A7A37E
 - #EFECCA
 - #046380
 - #002F2F

See http://kuler.adobe.com/#themeID/15325
*/
html, body {
	height: 100%;
	background: #EFECCA;
	font: 13px/18px Arial, Helvetica, sans-serif;
}
#sidebar {
	float: left;
	width: 20%;
	margin: 0 1.5% 0 0;
	padding: 0 1% 0 2.5%;
	color: #222;
}
#sidebar h1 {
	font-family: Georgia, serif;
	font-size: 24px; 
	line-height: 36px;
	margin: 24px 0 12px; 
}
#sidebar li.widget {
	margin-bottom: 18px;
}
#sidebar h2 {
	font: 18px/18px Georgia, serif;
	padding: 10px 0 8px;
}
#sidebar li.widget ul {
	margin-left: 5px;
}
#sidebar a {
	color: #046380;
	text-decoration: none;
}
#sidebar a:hover {
	text-decoration: underline;
}
#content {
	margin-left: 25%;
	width: 45%;
	min-height: 100%;
	background: #fff;
	border-left: 1px solid #E6E2AF;
	border-right: 1px solid #E6E2AF;
}
#content .wrapper {
	padding: 0 10% 36px;
}
#twitter {
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 11px;
	border-bottom: 1px solid #eee;
	color: #999;
}
	#twitter .date {
		background: url("http://twitter-badges.s3.amazonaws.com/t_mini-b.png") no-repeat center right;
		margin: 0;
		padding-right: 30px;
		color: #ccc;
	}
	#twitter a {
		color: #666;
		text-decoration: none;
	}
		#twitter a:hover {
			color: #333;
		}
.post {
	margin-bottom: 36px;
}
.post h2 {
	font: 18px/18px Georgia, serif;
	padding: 18px 0 18px;
}
.post h2 a {
	text-decoration: none;
	color: #000;
}
.post p.date {
	color: #A7A37E;
	float: right;
	margin: -36px 0 0;
}
p, .post blockquote,
.post ol, .post ul, .post dl,
.post pre {
	margin-bottom: 18px;
}
.syntaxhighlighter.php {
	margin: 24px 0 !important;
}
.post code, .post pre {
	font-family: Consolas, monospace;
	font-size: 12px;
	/* When does 18px not equal 18px? When it's a monospaced font! Setting to 1em seems to fix */
	line-height: 1em;
}
.post ul, .post ol {
	margin-left: 1.4em;
}
.post ul       { list-style-type: circle; }
.post ul ul    { list-style-type: square; }
.post ul ul ul { list-style-type: disc; }
.post ol       { list-style-type: decimal; }
.post ol ol    { list-style-type: lower-latin; }
.post ol ol ol { list-style-type: lower-roman; }

.post a {
	color: #046380;
	text-decoration: none;
}
.post a:hover {
	text-decoration: underline;
}
#footer {
	padding: 36px 10% 162px;
	text-align: center;
	color: #666;
	background: url("wp-watermark.png") no-repeat center;
}