/*


Based on the Kuler theme "sandy stone beach ocean diver" and the colours:
 - #E6E2AF
 - #A7A37E
 - #EFECCA
 - #046380
 - #002F2F

See http://kuler.adobe.com/#themeID/15325
*/
@font-face {
	font-family: 'DroidSerifRegular';
	src: url('fonts/DroidSerif-Regular.eot');
	src: local('Droid Serif'), local('DroidSerif'), url('fonts/DroidSerif-Regular.woff') format('woff'), url('fonts/DroidSerif-Regular.ttf') format('truetype'), url('fonts/DroidSerif-Regular.svg#DroidSerif') format('svg');
}

html, body {
	height: 100%;
	background: #EFECCA;
	font: 13px/18px Arial, Helvetica, sans-serif;
}
#sidebar {
	float: left;
	width: 20%;
	margin: 0 1.5% 0 0;
	padding: 0 1% 0 2.5%;
	color: #222;
}
#sidebar h1 {
	font-family: Georgia, serif;
	font-size: 24px; 
	line-height: 36px;
	margin: 24px 0 12px; 
}
	#sidebar h1 a {
		color: inherit;
	}
#sidebar li.widget {
	margin-bottom: 18px;
}
#sidebar h2 {
	font: 18px/18px Georgia, serif;
	padding: 10px 0 8px;
}
#sidebar li.widget ul {
	margin-left: 5px;
}
#content {
	margin-left: 25%;
	width: 45%;
	min-height: 100%;
	background: #fff;
	border-left: 1px solid #E6E2AF;
	border-right: 1px solid #E6E2AF;
}
#content .wrapper {
	padding: 0 10% 36px;
}
#twitter {
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 11px;
	border-bottom: 1px solid #eee;
	color: #999;
}
	#twitter .date {
		background: url("http://twitter-badges.s3.amazonaws.com/t_mini-b.png") no-repeat center right;
		margin: 0;
		padding-right: 30px;
		color: #ccc;
	}
	#twitter a {
		color: #666;
		text-decoration: none;
	}
		#twitter a:hover {
			color: #333;
		}
.post {
	margin-bottom: 36px;
}
.post h2 {
	font: 13px/16px DroidSerifRegular, Georgia, serif;
	padding: 18px 0 18px;
	color: #333;
}
	.post.shot-post h2 {
		font: 18px/18px DroidSerifRegular, Georgia, serif;
	}

.post h2 a {
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	padding-bottom: 1px;
}
	.post h2 a:hover {
		text-decoration: none;
		border-bottom-color: #ccc;
	}

.post p.date {
	color: #A7A37E;
	float: right;
	margin: -36px 0 0;
}
p, .post blockquote,
.post ol, .post ul, .post dl,
.post pre {
	margin-bottom: 18px;
}
	.post.shot-link ol, .post.shot-link ul, .post.shot-link dl,
	.post.shot-link pre, .post.shot-link p {
		margin-left: 10px;
	}
	.post blockquote {
		margin-left: 10px;
		border-left: 1px solid #E6E2AF;
		padding-left: 10px;
	}
		.post.shot-link blockquote {
			margin-left: 20px;
		}
.syntaxhighlighter.php {
	margin: 24px 0 !important;
}
.post code, .post pre {
	font-family: Consolas, monospace;
	font-size: 12px;
	/* When does 18px not equal 18px? When it's a monospaced font! Setting to 1em seems to fix */
	line-height: 1em;
	background: #ffa;
	padding: 2px;
}
.post ul, .post ol {
	margin-left: 1.4em;
}
.post ul       { list-style-type: circle; }
.post ul ul    { list-style-type: square; }
.post ul ul ul { list-style-type: disc; }
.post ol       { list-style-type: decimal; }
.post ol ol    { list-style-type: lower-latin; }
.post ol ol ol { list-style-type: lower-roman; }

a {
	color: #046380;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}

.post em {
	font-style: italic;
}
.post strong {
	font-weight: bold;
}
.post sup {
	font-size: smaller;
	line-height: normal;
	vertical-align: super;
}
.post sup a.footnote-link {
	color: #A7A37E;
}
.post .comments {
	text-align: right;
	font-size: 10px;
	color: #aaa;
}
.post .comments a {
	color: #A7A37E;
}

.navigation {
	overflow: hidden;
	margin-bottom: 10px;
}
	.navigation a {
		color: #A7A37E;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		width: 50%;
		text-align:right;
	}

#footer {
	padding: 36px 10% 162px;
	text-align: center;
	color: #666;
	background: url("wp-watermark.png") no-repeat center;
}